* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    background-image: url(./147365_1280_1024.jpg);
    text-align: center;
}

html{
    padding: 10px;
    margin: 5px;
    height: 700px;
}
.divClass {
    color: snow;
}

h1 {
    color: silver;
    background-color: slategray;
    max-width: 50%;
    margin: 0 auto;
}

img {
    width: 400px;
}

#thirdDiv {
    border: 3px solid black;
    padding:  50px;
    height: 600px;
    width: 500px;
    background-color: chocolate;
    margin: 20px auto;
}

#spanId {
    font-size: 18px;
    margin: 50px;
    justify-content: center;
}

.divClass #thirdDiv {
    display: -webkit-flex;
    display: flex;
    -webkit-aling-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}