body {
    background-image: url(./147365_1280_1024.jpg);
    text-align: center;
}

html{
    padding: 10px;
    margin: 5px;
    height: 700px;
}
h1, h3, h4, span, a, li, ul {
    color: snow;
}

h1 {
    color: fuchsia;
    background-color: slategray;
}

img {
    width: 400px;
}

#thirdDiv {
    border: 5px dotted black;
    padding:  50px;
    height: 600px;
    width: 500px;
    background-color: maroon;
    margin-left: auto;
    margin-right: auto;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

div {
    text-align: center;
}